{% extends "base.html" %}
{% block content %}
            
                <center>
                    <br><br><br><br><br><br>
                    <div class="coard  mx-auto border" style="width: 42rem;border:2;-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
                    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);">
                        
                        <div class="card-header w3-black">
                            <h5 class="card-title"><font color="yellow">ALERTA</font></h5>
                          </div>
                        <div class="card-body">
                                <font color=red size=4 class="caret-sombra-red"><b>{{ msgito}}</font></center>
                                    <br><br>
                                </div>
            <br><br>
            </div>
            <br><br>
                
        <script>
            function Voy(){
            {% if regreso%}
            location.href="{{regreso}}"
            {% else %}
            location.href="/"
            {% endif %}
            }
            
            setTimeout('Voy()',5000)
            
        </script>
        {% endblock content %}