{% extends "base.html" %}
{% block content %}
    <div class="coard  mx-auto border" style="width: 22rem;">
    <div class="card-header w3-black">
        <h5 class="card-title"><font color="yellow">INGRESO</font></h5>
      </div>
    <div class="card-body">
        
    <form method="post" action="/v">
        <table class="table">
            <tr>
                <td ><label class="form-label">Usuario:</label></td>
                <td><input class="form-control" type="text" id="usua" title="Ingresar el usuario" name="usua" required></td>
            </tr>
            <tr>
                <td><label class="form-label">Clave:</label></td>
                <td><input class="form-control" type="password"  id="pw" name="pw"></td>
            </tr>
            
        </table>
        <center><input class="btn btn-outline-primary col-10" type="submit" value="Ingresar">
    </form>
</div>

{% endblock content %}