<style>
    .container{
        display: flex;
        width: 800px;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-evenly;
        align-items:flex-start
    }
    .item1{
        background-color: aquamarine;
    }
    .item2{
        background-color: aquamarine;
        height: 200px;
    }
    .item3{
        background-color: rgb(127, 229, 255);
    }
    .item4{
        background-color: rgb(225, 127, 255);
    }
</style>

<div class="container">
    <div class="item1">LOGO</div>
    <div class="item2">APARTAMENTO</div>
    <div class="item3">TORRE</div>
    <div class="item4">PARQUEADERO</div>
</div>